doctype html
html(lang="en")
  //- head pug component
  include ../includes/head.pug
  body#main
    //- header pug component
    include ../includes/header.pug
    h1#test Pug - node template engine from home html
      
    //- footer pug component
    include ../includes/footer.pug
    